name: Publish extractors
on:
  pull_request:
    branches:
      - main
jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: testing
        uses: ./.github/actions/action:.yml
        with:
          artifactory_username: ${{ secrets.ARTIFACTORY_READONLY_TOKEN_USER }}
          artifactory_password: ${{ secrets.ARTIFACTORY_READONLY_TOKEN }}
          command: -h
