name: Publish extractors
on:
  pull_request:
    branches:
      - main
jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: testing
        uses: ./.github/actions
        id: testing-action
        with:
          command: publish
          version: '0.0.1'
          no-verify: yes
          manifest_path: /path/to/manifest
          only-artifacts: true
          artifactory_username: ${{ secrets.ARTIFACTORY_READONLY_TOKEN_USER }}
          artifactory_password: ${{ secrets.ARTIFACTORY_READONLY_TOKEN }}
