name: Publish extractors
on:
  pull_request:
    branches:
      - main
jobs:
  testing-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: make action directory
        run: mkdir -p .github/actions

      - name: move actions and dependencies
        run: mv action.yml script.js ./.github/actions/

      - name: testing
        uses: ./.github/actions
        id: testing-action
        with:
          command: validate
          manifest-path: manifest.yml
          artifactory-username: ${{ secrets.ARTIFACTORY_READONLY_TOKEN_USER }}
          artifactory-password: ${{ secrets.ARTIFACTORY_READONLY_TOKEN }}

  testing-windows:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: make action directory
        run: mkdir -p .github/actions

      - name: move actions and dependencies
        run: mv action.yml script.js ./.github/actions/

      - name: testing
        uses: ./.github/actions
        id: testing-action
        with:
          command: validate
          manifest-path: manifest.yml
          artifactory-username: ${{ secrets.ARTIFACTORY_READONLY_TOKEN_USER }}
          artifactory-password: ${{ secrets.ARTIFACTORY_READONLY_TOKEN }}
