name: Publish extractors
on:
  pull_request:
    branches:
      - main
jobs:
  testing:
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11']
        os: ['ubuntu-latest', 'windows-latest', 'macos-latest']
      fail-fast: true
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - name: make action directory
        run: mkdir -p .github/actions

      - name: move actions and dependencies
        run: |
          cp action.yml ./.github/actions/
          cp script.js  ./.github/actions/

      - name: testing
        uses: ./.github/actions
        id: testing-action
        with:
          python-version: ${{ matrix.python-version }}
          command: validate
          manifest-path: manifest.yml
          artifactory-username: ${{ secrets.ARTIFACTORY_READONLY_TOKEN_USER }}
          artifactory-password: ${{ secrets.ARTIFACTORY_READONLY_TOKEN }}
