name: Publish extractors
on:
  pull_request:
    branches:
      - main
jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - name: get os
        id: get-os
        run: ${{ github.runner.os }}
          
      - name: get shell type
        uses: actions/github-script@v6
        id: shell-type
        with:
          script: |
            return 'value'
        

      - name: Ensure python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      
      - name: Install publisher
        run: pip install cognite-extractor-publisher --extra-index-url "https://${{ secrets.ARTIFACTORY_READONLY_TOKEN_USER }}:${{ secrets.ARTIFACTORY_READONLY_TOKEN }}@cognite.jfrog.io/cognite/api/pypi/snakepit/simple"

      - name: Run publisher command
        run: echo ${{ steps.shell-type.outputs.result }}
      # - name: Run publisher command
      #   run: publish-extractor ${{ input.command }}
